@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
	font-family: "Montserrat",sans-serif;
}
html{
	margin:0;
	padding: 0;
}
body{
	/*width: 60%;*/
	background: #bfbfbf;
	background-size: cover;
	background-repeat: no-repeat;
	margin:auto;
	padding: 0;
}

header a{
	text-decoration: none;
	color: #ffffff;
	
	}

nav{
	margin: 0px;
	padding: 0px;
	float: left;
	font-size: 18px;
}
nav a{
	margin: 0px;
	padding: 0px;
	text-align: center;
	height: 100%;
	width: 100px;
	display: inline-block;
	text-decoration: none;
	color: #ffffff;
}
nav a:hover{
	background: #747474;
	transition: 0.5s;
	text-transform: uppercase; 
}


.logo{
	width: 144px;
	float: left;
}
.navbar{
	width: 100%;
	background-color: #000000;
}
.nav{
	height: 100%;
	text-align: center;
	float: left;
	background-color: black;
}
.socialmedia{
	float: right;
	margin-right: 50px;
}
.socialmedia a{
	width: 55px;
	display: inline-block;
	color: #ffffff;
	text-align: center;
	font-size: 25px;
}
.socialmedia a:hover{
	background: #747474;
	transition: 0.5s;
	text-transform: uppercase; 
}

